.contact-form{
    width: 100vw;
    height: 100vh;
    position: relative;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #f5f5f5;

    .create-contact-details{
    .message{
        background-color: #ffebee;
    }  
    h2{
        margin-bottom: 20px;
        color:#888;
    }
    input {
        width: 100%;
        padding: 5px 10px;
        margin-bottom: 20px;
        font-size: inherit;
        background: transparent;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: 0;
      }
    textarea{
        width: 100%;
        height: 150px;
        margin-top: 20px;
        outline: 0;
        border: 0;
        padding: 3%;
        border: 1px solid #ccc;
        background: transparent;
    }
    button {
        margin-top: 20px;
        background: #3a7999;
        padding: 10px;
        text-transform: uppercase;
        font-size: inherit;
        color: #fff;
        border: none;
        outline: 0;
        transition: all 500ms ease; 

        &:hover{
            color: #e85861;
         
            background: #f2f2f2; 
            border: 1px solid #ccc;

        }
      }
    
    }
}