$base-color: #c6538c;
$base-color1:#4e97c9;
$base-color3:#59bb97;
$base-color4:#54bd52;
$base-color5:#d82144;
$base-color6:#3c4c5c;
$base-color2:#20cec9;
$base-color7:#ffb600;
$base-color8:#ff6666;
$base-color9:#5046af;
$base-color10:#6666cc;




@mixin puzzle-item($clr) {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 15%, 15% 15%, 15% 0%, 85% 0%, 85% 15%, 100% 15%, 100% 85%, 85% 85%, 85% 100%, 15% 100%, 15% 85%, 0% 85%);
    background:$clr;

   
  }


.home-page{
    display: flex;
    height: 100vh;
    padding: 5%;
    height: 100%;
    flex: 1 1 100%;
    align-self: center;
    flex-wrap: wrap;
    font-size: 1.5em;
    color: #fff;
    background-image: linear-gradient(to right top, #051937, #2b2d53, #51426f, #795889, #a36fa2)!important;
   
 
  
.homepage-content{
    width: 100vw;
display: flex;


.text-box{
    flex: 0 1 80%;
    margin: 5% auto;
    padding: 5%;
    font-family: 'Roboto', monospace;;
    display: flex;
    font-weight: 200;
    
    flex-wrap: wrap;
    font-size: 1.2em;
    flex-direction: column;
    justify-content: center;
   
    h2{
        text-transform: uppercase;
        
        letter-spacing: 0.2rem;
       font-size: 2rem;
       
    }
 
      p{
          font-size: 0.8em!important;
          
      }
            
  
 
  
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3%;
        
       text-decoration: none;
       color: white;
       background-color: #e85861;
       width: 200px;
       border: none;
       background: #3a7999;
       color: #f2f2f2;
       padding: 10px;
       font-size: 18px;
       border-radius: 5px;
       position: relative;
       box-sizing: border-box;
       transition: all 500ms ease; 
      
     
        
   
       &:hover {
          
        
           color: #e85861;
           font-weight: 700;
           background: #f2f2f2; ;
       }
       span{
           margin-left: 2%;
       }
}

}
.stack{
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    @media (min-width: 320px) and (max-width: 480px) {
 
        /* For Mobile devices */
        display: none;
        }
        
    @media (min-width: 481px) and (max-width: 767px) {
   /* For tablets: */
   display: none;
    } 
    
.puzzle{
    width: 100%;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    margin: 1px;

    .puzzle-item1{
        @include puzzle-item($base-color);
    }

    .puzzle-item2{
        @include puzzle-item($base-color7);
    }

    .puzzle-item3{
        @include puzzle-item($base-color6);
    }

    .puzzle-item4{
        @include puzzle-item($base-color9);
    }
    .puzzle-item5{
        @include puzzle-item($base-color4);
    }

    .puzzle-item6{
        @include puzzle-item($base-color5);
    }

    .puzzle-item7{
        @include puzzle-item($base-color8);
    }
}
}
}
}